/*** GENERAL SETTINGS ***/
* {
  box-sizing: inherit;
}

html, body {
  margin: 0;
  background: #0025ff;
  color: #fff;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

/*** HEADER SECTION ***/

header {
  display: flex;
  align-items: left;
  padding: 1rem;
}

header img {
  height: 4.5rem;
  margin-right: 3rem;
}

nav {
  display: none;
}

/*** BIG NEWS SECTION ***/

.big-news {
  display: flex;
  flex-direction: column;
}

.big-news img {
  width: 100%;
  height: auto;
}

/*** OTHER NEWS SECTION ***/

.other-news img {
  width: 100%;
}

/*** MEDIA QUERIES ***/

