/*** GENERAL SETTINGS ***/
* {
  box-sizing: inherit;
}

html, body {
  margin: 0 0 0 .3rem;
  background: #fff;
  color: #000;
  box-sizing: border-box;
  font-family: 'News Cycle', sans-serif;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  font-size: 3rem;
}

h1 span {
  font-size: 2rem;
}

 /*** LINKS ***/
 nav a:link,
 nav a:visited,
 .other-news a:link,
 .other-news a:visited {
   color: #000;
   text-decoration: none;
 }

 footer a:link,
 footer a:visited {
   color: #fff;
   text-decoration: none;
 }

/*** HEADER SECTION ***/

header {
  display: flex;
  align-items: center;
  padding: 1rem;
}

header img {
  height: 4.5rem;
  margin-right: 3rem;
}

nav {
  display: none;
}

/*** BIG NEWS SECTION ***/

.big-news {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
}

.big-news div {
  text-align: center;
}

.big-news img {
  width: 100%;
}

/*** OTHER NEWS SECTION ***/

.other-news {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}

.other-news a {
  margin-bottom: 16px;
  background: rgb(241, 241, 241);
  box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(124, 123, 123, 0.4);
  padding: 16px;
  transition: all .2s;
}

.other-news img {
  width: 100%;
}

/*** FOOTER ***/

footer {
  background: #000;
  color: #fff;
  height: 8rem;
  
  padding: 2rem;
}

.footer-flex {
  display: flex;
  justify-content: space-between;
}

.footer-links,
.social-links {
  display: flex;
  justify-content: space-evenly;
}

.footer-links {
  width: 35%;
}

footer p {
  text-align: center;
  color: rgb(146, 146, 146);
}

.social-links {
  width: 25%;
}

ion-icon {
  color: rgb(146, 146, 146);
  font-size: 1.5rem; 
}

/*** MEDIA QUERIES ***/
/***-------------------------***/
/*** MIN-WIDTH 668px, MAX-WIDTH 1024px ***/
/***-------------------------***/

@media (min-width: 668px) and (max-width: 1024px) {

  header {
    justify-content: space-evenly;
  }

  header h3 {
    display: none;
  }

  header :nth-child(1) { order: 3; }
  header :nth-child(3) { order: 1; }
  header :nth-child(4) { order: 4; }

  header img {
    margin: 0;
  }

  nav a {
    padding-bottom: 10px;
  }

  nav a:first-child {
    margin-right: 2.6rem;
  }

  nav a:last-child {
    margin-left: 2.6rem;
  }
  
  /*** OTHER-NEWS ***/

  .other-news-container {
    margin-left: .3rem;
  }

  .other-news a {
    width: 40%;
    flex-grow: 1;
    margin-right: 16px;
  }
}
/***-------------------------***/
/*** MIN-WIDTH: 668px ***/
/***-------------------------***/
@media (min-width: 668px) {

  html, body {
    margin: 0;
  }
  /*** HEADER ***/
  nav {
    display: inline-block;
  }

  nav a {
    margin-left: 16px;
  }
  
  /*** BIG NEWS SECTION ***/ 

  .big-news {
    flex-direction: row;
    border: 1px solid rgb(196, 194, 194);
    border-left: none;
  }

  .big-news div {
    text-align: center;
    align-self: center;
    
  }

  .big-news img {
    width: 50%;
  }

  .big-news p {
    padding: 0 4rem;
  }

   /*** OTHER-NEWS ***/

   .other-news {
    flex-direction: row;
    justify-content: space-evenly;
  }


   /*** LINKS ***/

  nav a:active,
  nav a:hover,
  .other-news a:active,
  .other-news a:hover{
    color: rgb(95, 95, 95);
    transform: translateY(3px);
  }

  footer a:active,
  footer a:hover {
    color: rgb(221, 221, 221);
  }

  .logo-insta:hover {
    color:  #FD1D1D;
  }

  .logo-twitter:hover {
    color: #38A1F3;
  }

  .logo-fb:hover {
    color: #3C5A99;
  }

}

/***-------------------------***/
/*** MIN-WIDTH 1025px ***/
/***-------------------------***/

@media (min-width: 1025px) {

  h3 {
    font-size: 2rem;
  }

  header {
    justify-content: flex-start;
  }

  header h3 {
    flex-grow: 1;
    text-align: left;
  }

  nav a {
    margin-left: 32px;
  }

  /*** OTHER-NEWS ***/

  .other-news a {
    width: 20%;
    margin-right: 16px;
    justify-content: space-evenly;
    flex-grow: 1;
  }

  /*** FOOTER ***/

  .footer-links {
    width: 20%;
  }
  
  .social-links {
    width: 10%;
  }
}

/***-------------------------***/
/*** MIN-WIDTH 1500px ***/
/***-------------------------***/

@media (min-width: 1500px) {

  .container {
    max-width: none;
  }

}
